@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');



body{
   background-color: #f3f5fc;
   font-family: 'Poppins', sans-serif;
}

.cuerpo{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.aencriptado {
    display: flex;
    flex-direction: column;
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    /* border: none; */
    border: none;
    font-size: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
    resize: none;
}

.texto::placeholder{
    color: rgba(10, 56, 113, 0.5);
    text-align:left;
}

.texto:focus,.texto:active{
    border: none;
    outline: none;
}

.condiciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 78%;
}

.condiciones p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons{
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btnencriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border: 1px solid #000;
    border-radius: 24px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff; 
}

.btndesencriptar{
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;    
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871; 
}

.btnencriptar:hover,.btndesencriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.aresultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    /* background: #fff; */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.resultado{
    background-color: #f3f5fc;
    position: absolute;
    width: 80%;
    height: 65%;
    left: 9%;
    top: 12%;    
    font-size: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    resize: none;
    border: none;
    
}

.resultado::placeholder{
    color: rgba(10, 56, 113, 0.5);
    text-align:left;
}

.resultado:focus,.resultado:active{
    border: none;
    outline: none;
}

.posicionbtnc{
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.Btncopiar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 20px;
    width: 97%;
    background-color: #0a3871;
    border: 1px solid #000;
    border-radius: 24px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff; 
    transition: 3s;
}

.Btncopiar:hover{
    opacity: 90%;
}

.ftpage{
    width: 100%;
    height: 30%;
    background-color: #0a3871;
    position: absolute;
    top: 113%;
    right: 8px;
}

.grupo{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.grupo .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftpage .grupo .caja h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.grupo .caja p{
    color: #efefef;
    margin-bottom: 10px;
}

.ftpage .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.red-social a:hover{
    color: aqua;
}

#botonCopiar{
    display: none;
}

/* responsive design */
@media (max-width: 57.5em){
    .cuerpo {
        display: flex;
        flex-direction: row;
        height: 85vh;
    }
    .aencriptado{
        width: 100%;        
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
        font-size: 25px;
    }
    .condiciones{
        width: 80%;
        left: 10%;
        top: 64%;

    }
    .condiciones p{
        font-size: 14px;
    }    
    .buttons{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btnencriptar,.btndesencriptar{
        width: 48%;
        border-radius: 16px;
    }

    .btnencriptar:hover,.btndesencriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .aresultado {
        width: 80%;
        height: 20vh;
        left: 7%;
        top: 80%;
    }

    .resultado{
        font-size: 25px;
        left: 4%;
        width: 95%;

    }

    .posicionbtnc{
        top: 100%;
        margin-top: 2%;
    }
    
    .ftpage{
        bottom: -12px;
        width: 100%;
        height: 73%;
    }

    .ftpage .grupo{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px; 
    }

    
}
